<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cdp.mispartidas">

    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".actividades.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".actividades.SetupJugadores"
            android:label="@string/title_activity_setup_jugadores"
            android:parentActivityName=".actividades.MainActivity"
            android:windowSoftInputMode="adjustPan">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".actividades.MainActivity" />
        </activity>
        <activity
            android:name=".actividades.Tanteo"
            android:label="@string/title_activity_tanteo"
            android:parentActivityName=".actividades.MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".actividades.MainActivity" />
        </activity>
        <activity
            android:name=".actividades.Historial"
            android:label="@string/title_activity_historial"
            android:parentActivityName=".actividades.MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".actividades.MainActivity" />
        </activity>
        <activity 
            android:name=".actividades.Duelo"
            android:label="@string/title_activity_tanteo"
            android:theme="@android:style/Theme.NoTitleBar">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".actividades.MainActivity" />
                
        </activity>
    </application>

</manifest>
